/* 제품 리스트 */
ul.prod{
    display: table;
    width: 100%;
    min-width: 100%;
    margin: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.prod>li{
    width: 25%;
    display: inline-block;
    margin: 0 0 60px;
    color: #757575;
    vertical-align: top;
    position: relative;
}
.prod>li .box {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.prod .thumbnail {
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
}
.prod .thumbnail .new_btn{
    position: absolute;
    top: 15px;
    left: 15px;
}
/* 베스트 - 순위 */
.prod .thumbnail .num{
    position: absolute;
    top: -1px;
    right: -2px;    
    width: 66px;
    height: 63px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #3a3a3a;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
    background: url(/lego/images/2_best/best_num_bg.png) no-repeat;
}
.prod .thumbnail .icon_cart a{
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 8;
    background: url(/lego/images/2_best/best_cart_off.png) no-repeat;
    width: 38px;
    height: 38px;
}
.prod .thumbnail .prod_img{
    overflow: hidden;
}
.prod .thumbnail .prod_img img{
    width: 100%;
    border: 0;
    transform: scale(1);
    transition: all 0.5s;
}
/* 베스트 - 슈퍼마리오 캐릭터 */
.prod .thumbnail .prod_img .bg_img{
    position: absolute;
    top: 15px; left: -8px;
    background: url(/lego/images/2_best/best2_.png) no-repeat left bottom;
    width: 100%;
    height: 100%;
    z-index: 7;
}
/* 마우스오버 */
.thumbnail:hover {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: block;
    background-color: rgba(0,0,0,.2);
}
.thumbnail:hover .prod_img img{
    transform: scale(1.2);
}
.prod .thumbnail .icon_cart a:hover {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 8;
    background: url(/lego/images/2_best/best_cart_on.png) no-repeat;
    width: 85px;
    height: 38px;
    transition: all 0.2s;
}


